.App {
  text-align: left;
  background-color: rgb(247, 183, 208);
  width: 80%;
  margin: 0px auto;
  padding: 0px 100px;
}

body {
  background-color: rgb(224, 174, 218);
}

.button {
  margin: 0px 20px;
}

.select {
  margin: 10px 0px;
  height: 20px;
}

.input {
  margin: 20px;
}

.navItem {
  margin-right: 43px;
  font-size: 25px;
}
