.App {
  text-align: left;
  background-color: rgb(243, 0, 93);
}

.button {
  margin: 0px 20px;
}

.select {
  margin: 10px 35px;
}

.input {
  margin: 20px;
}

.navItem {
  margin-right: 43px;
  font-size: 25px;
}
